# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.claude/settings.local.json
.claude/*
.claude/settings.local.json

# Fabric VS Code extension metadata
.vfsmeta/
.work-folder-info
.workspace-info
.artifact-info
.resource-info
**/conf/lighter-config.json
**/builtin/
